<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="serviceStack.redis" type="ServiceStack.Redis.Configuration.RedisClientManagerConfiguration, ServiceStack.Redis" />
	</configSections>

	<serviceStack.redis>
		<commonSettings maxWritePoolSize="100" maxReadPoolSize="500" autoStart="true" initialDb="1" poolTimeOutSeconds="30" poolSizeMultiplier="5"/>
		<readWriteHosts>
			<add address="127.0.0.1" port="6379" />
			<add address="127.0.0.1" />
		</readWriteHosts>
		<readOnlyHosts>
			<add address="localhost" />
			<add address="127.0.0.1" port="6379" />
		</readOnlyHosts>
	</serviceStack.redis>
</configuration>